fastapi
uvicorn[standard]
sqlalchemy
pymysql
google-auth
google-auth-oauthlib
python-multipart
pydantic
passlib[bcrypt]
bcrypt
python-jose[cryptography]
mediapipe
opencv-python-headless
python-dotenv
requests
rsa
pyasn1-modules